@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');

@import url('./grid.css');
@import url('./navigation-bar.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
}

input, textarea, button {
  font-family: 'Montserrat';
  outline: none;
  border-radius: 7px;
  border: none;
  font-size: 1em;
}

button {
  cursor: pointer;
}

:root {
  --primary-color-gradient: linear-gradient(132.23deg, #7FC9A8 23.72%, #559B7C 99.19%), #7FC9A8;
  --primary-color: #7FC9A8;
  --secondary-color: #E1FBEF;
  --primary-dark-color: #333333;
  --secondary-dark-color: #474747;
  --white-color: #FFFFFF;
  --complementary-color: #F1CDD7;

}

