$primary-color-gradient: linear-gradient(132.23deg, #7FC9A8 23.72%, #559B7C 99.19%), #7FC9A8;
$primary-color: #7FC9A8;
$secondary-color: #E1FBEF;
$primary-dark-color: #333333;
$secondary-dark-color: #474747;
$white-color: #FFFFFF;
$complementary-color: #F1CDD7;