<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CargoController</servlet-name>
        <servlet-class>com.dragsters.controllers.CargoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteController</servlet-name>
        <servlet-class>com.dragsters.controllers.ClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaController</servlet-name>
        <servlet-class>com.dragsters.controllers.VendaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarClienteCPF</servlet-name>
        <servlet-class>com.dragsters.controllers.ConsultarClienteCPF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarProdutoID</servlet-name>
        <servlet-class>com.dragsters.controllers.ConsultarProdutoID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoController</servlet-name>
        <servlet-class>com.dragsters.controllers.ProdutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriarCargo</servlet-name>
        <servlet-class>com.dragsters.controllers.CriarCargo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioController</servlet-name>
        <servlet-class>com.dragsters.controllers.FuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriarFuncionario</servlet-name>
        <servlet-class>com.dragsters.controllers.CriarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarCargos</servlet-name>
        <servlet-class>com.dragsters.controllers.BuscarCargos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarUnidades</servlet-name>
        <servlet-class>com.dragsters.controllers.BuscarUnidades</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CargoController</servlet-name>
        <url-pattern>/CargoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteController</servlet-name>
        <url-pattern>/ClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaController</servlet-name>
        <url-pattern>/VendaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarClienteCPF</servlet-name>
        <url-pattern>/ConsultarClienteCPF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarProdutoID</servlet-name>
        <url-pattern>/ConsultarProdutoID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoController</servlet-name>
        <url-pattern>/ProdutoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriarCargo</servlet-name>
        <url-pattern>/CriarCargo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioController</servlet-name>
        <url-pattern>/FuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriarFuncionario</servlet-name>
        <url-pattern>/CriarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarCargos</servlet-name>
        <url-pattern>/BuscarCargos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarUnidades</servlet-name>
        <url-pattern>/BuscarUnidades</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
