<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CargoController</servlet-name>
        <servlet-class>com.dragsters.controllers.CargoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteController</servlet-name>
        <servlet-class>com.dragsters.controllers.ClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaController</servlet-name>
        <servlet-class>com.dragsters.controllers.VendaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarClienteCPF</servlet-name>
        <servlet-class>com.dragsters.controllers.ConsultarClienteCPF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarProdutoID</servlet-name>
        <servlet-class>com.dragsters.controllers.ConsultarProdutoID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoController</servlet-name>
        <servlet-class>com.dragsters.controllers.ProdutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriarCargo</servlet-name>
        <servlet-class>com.dragsters.controllers.CriarCargo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioController</servlet-name>
        <servlet-class>com.dragsters.controllers.FuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriarFuncionario</servlet-name>
        <servlet-class>com.dragsters.controllers.CriarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarCargos</servlet-name>
        <servlet-class>com.dragsters.controllers.BuscarCargos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarUnidades</servlet-name>
        <servlet-class>com.dragsters.controllers.BuscarUnidades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriarCliente</servlet-name>
        <servlet-class>com.dragsters.controllers.CriarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnidadeController</servlet-name>
        <servlet-class>com.dragsters.controllers.UnidadeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriarUnidade</servlet-name>
        <servlet-class>com.dragsters.controllers.CriarUnidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriarCategoriaProduto</servlet-name>
        <servlet-class>com.dragsters.controllers.CriarCategoriaProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaProdutoController</servlet-name>
        <servlet-class>com.dragsters.controllers.CategoriaProdutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriarProduto</servlet-name>
        <servlet-class>com.dragsters.controllers.CriarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarCategorias</servlet-name>
        <servlet-class>com.dragsters.controllers.BuscarCategorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalheCargo</servlet-name>
        <servlet-class>com.dragsters.controllers.DetalheCargo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CargoController</servlet-name>
        <url-pattern>/CargoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteController</servlet-name>
        <url-pattern>/ClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaController</servlet-name>
        <url-pattern>/VendaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarClienteCPF</servlet-name>
        <url-pattern>/ConsultarClienteCPF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarProdutoID</servlet-name>
        <url-pattern>/ConsultarProdutoID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoController</servlet-name>
        <url-pattern>/ProdutoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriarCargo</servlet-name>
        <url-pattern>/CriarCargo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioController</servlet-name>
        <url-pattern>/FuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriarFuncionario</servlet-name>
        <url-pattern>/CriarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarCargos</servlet-name>
        <url-pattern>/BuscarCargos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarUnidades</servlet-name>
        <url-pattern>/BuscarUnidades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriarCliente</servlet-name>
        <url-pattern>/CriarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnidadeController</servlet-name>
        <url-pattern>/UnidadeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriarUnidade</servlet-name>
        <url-pattern>/CriarUnidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriarCategoriaProduto</servlet-name>
        <url-pattern>/CriarCategoriaProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaProdutoController</servlet-name>
        <url-pattern>/CategoriaProdutoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriarProduto</servlet-name>
        <url-pattern>/CriarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarCategorias</servlet-name>
        <url-pattern>/BuscarCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalheCargo</servlet-name>
        <url-pattern>/DetalheCargo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
